---
const { artist } = Astro.props;
---

<article class="card">
  <div class="img_box">
    <img src={artist.img} alt="artist" />
    <button
      ><a href={artist.musik} target="_blank" rel="noopener noreferrer"
        >LYT HER</a
      ></button
    >
  </div>
  <div class="text_box">
    <div>
      <h2>{artist.name}</h2>
      <p class="info">{artist.info}</p>
    </div>
    <div class="box">
      <p class="bold">{artist.date}</p>
      <p class="bold">{artist.time}</p>
    </div>
  </div>
</article>

<style>
  html {
    background-color: var(--color-yellow);
  }
  img {
    width: 20rem;
    height: auto;
    object-fit: cover;
    display: block;
  }

  .card {
    display: grid;
    justify-items: center;
    background-color: var(--color-black);
    margin: 2rem;
    padding: 2rem;
  }

  .img_box {
    position: relative;
  }

  .card button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }

  button a {
    text-decoration: none;
    color: var(--color-yellow);
  }

  p,
  h2 {
    color: var(--color-pink);
    justify-self: center;
  }

  .info {
    max-width: 20rem;
  }

  .bold {
    font-weight: bolder;
    margin: 0.5px;
  }

  .text_box {
    padding-top: 15px;
  }

  .box {
    padding-top: 15px;
  }

  /* desktop */
  @media (min-width: 1100px) {
    .card {
      display: grid;
      grid-template-columns: 400px 1fr;
      align-self: center;
      padding: 2rem;
      margin: 4rem auto;
      gap: 2rem;
      max-width: 1000px;
    }

    /* tekst */
    .info {
      max-width: 30rem;
    }

    h2 {
      font-size: 50px;
      margin-top: 0;
    }

    /* dato og tid altid aligner nederst med billedet */

    .text_box {
      display: flex;
      flex-direction: column;
    }

    .box {
      margin-top: auto;
    }
  }

  /* mellem størrelse */
  @media (min-width: 900px) and (max-width: 1099px) {
    .card {
      margin: 3rem 7rem;
      padding: 2rem;
    }

    h2 {
      font-size: 30px;
    }
  }
</style>
